/* Define colors*/
:root {
    --primary: #222831;
    --secondary: #31363F;
    --accent: #76ABAE;
    --text: #EEEEEE;
}

body {
    background-color: var(--primary);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 2;
    font-size: 1em;
    margin: 0;
}
h1, h2, h3, h4 {
    color: var(--accent);
}
.container {
    padding: 1% 2%;
}
a, a:visited {
    color: var(--text);
}
i {
    color: var(--text);
    font-size: 1em;
}
#header, #footer {
    background-color: var(--secondary);
    text-align: center;
}
.error-message {
    color: red;
}
