{% extends "base.html" %}

{% block title %}WebApi Example{% endblock %}

{% block header %}Search content{% endblock %}

{% block content %}
    {# Form #}
    <form method="POST" action="{{ url_for('index') }}" novalidate>
        {{ form.csrf_token }}
        <div class="row" style="margin: auto 20%">
          <div class="col-lg-8">
            {{ form.search.label }}
            {{ form.search() }}
            {% for err in form.search.errors %}<span class="error-message">{{ err }}</span>{% endfor %}
          </div>
        <div class="col-lg-2">
            {{ form.results.label }}
            {{ form.results }}
          </div>
          <div class="col-lg-2">
            <br>
            {{ form.submit }}
          </div>
        </div>
    </form>
    <hr>
    {# Data from request #}
    {% if data %}
        {% for item in data['articles'] %}
            <h3>{{ item['title'] }}</h3>
            <strong>Published:</strong> {{ item['publishedAt'].split("T")[0] }}, {{ item['publishedAt'].split("T")[1][:-4] }}<br>
            {{ item['description'] }}<br>
            <a href="{{ item['url'] }}" target="_blank">Read whole article</a><br>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}